@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
}

#navbar{
    background-color: black;
    height: 120px;
    width: 100%;
    background-image: linear-gradient(to bottom, black 50%, #46AC22 20%); 
    display: flex;
    align-items: end;
    justify-self: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

#logo{
    height: 120px;
    width: 105px;
}

#headerButton{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    text-decoration: none;
    padding: 16px;
    transition: .2s;
}

a:visited{
    color: black;
}

a:hover{
    backdrop-filter: brightness(90%);
}

#user{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 100px;
    background-color: transparent;
    border: black solid 2px;
    position: absolute;
    right: 1rem;
    margin-bottom: .3rem;
}


#main{
    width: 100%;
    height: 52rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table{
    width: 95%;
    height: 72.1%;
    background-color: lightgray;
    display: grid;
  grid-template-rows: repeat(auto-fill, minmax(10%, 10%));
}
tr{
    height: 28px;
}
td{
    width: 100%;
    font-size: 16px;
    text-align: center;
    outline: black solid 1px;
    align-items: center;
}

#td1{
    width: 5%;
}

#td2{
text-indent: 30px;
text-align: left;
}

#td3{
    padding-left: 25px;
    padding-right: 25px;
}
tbody{
    width: 100%;
    height: 100%;
}
#search{
    width: 80%;
    margin-bottom: 30px;
    width: 50rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: lightgray;
    text-indent: 10px;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-self: self-end;
    margin-right: 50px;
}

#popup_cad{
    position: absolute;
    height: 70%;
    width: 80%;
    background-color: darkgrey;
    visibility: hidden;
    z-index: 2;
}

#popup{
    position: absolute;
   width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
     top: 0;
}

footer{
    background-color: #46AC22;
    height: 30px;
    width: 100%;

    background-image: linear-gradient(to bottom, #46AC22 50%, black 20%);
    box-shadow: 0px -5px 15px 0px rgba(0,0,0,0.1);
}
.overlay_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay_container.show {
    display: flex;
    opacity: 1;
}
.cadastro_popup{
    width: 80%;
    height: 80%;
    background-color: lightgray;
    border-radius: 10px;
    button{
        background-color: transparent;
        border: transparent;
        width: 10%;
        font-size: 36px;
        text-align: center;
        right: 20px;
        left: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 300px;
    }
    button:hover{
        background-color: #989898;
    }

}

#cadastro_header{
    height: 8%;
    background-color: darkgrey;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#info{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-areas: "header header" "content content";
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: black;
}
input{
    width: 80%;
    height:35px;
    margin-bottom:20px;
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-indent: 5px;
}

label{
margin-left: 90px;
}

label[for='nome']{
margin-top: 50px;
display: grid;
grid-area: header;

}

#nasc{
margin-top: 0px;
display: grid;
grid-area: content;
}

label[for='nasc']{

}

#nome{
    width: 90.5%;
}

#foto{
width: 13%;
height: 30%;
top: 22%;
left: 14%;
background-color: white;
position: absolute;
}

#back{
   background-color: #46AC22;
   color: white;
   border: solid black 2px;
   width: 100px;
   height:40px;
   font-size: 12px;
   justify-content: center;
   position: relative;
   left: 50%;
   font-weight: bold;
   padding: 20px;
}

#show_cad{
    background: transparent;
    width: 100%;
    height: 100%;
}

 /* CSS para centralizar os botões e ajustar o estilo */
        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px; /* Espaço acima dos botões */
        }

        .button-container input[type="submit"],
        .button-container input[name="voltar"] {
            width: 200px;
            height: 50px;
            padding: 10px 20px; /* Ajuste o padding conforme necessário */
            font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
            margin: 0 10px; /* Espaçamento entre os botões */
            background-color: #46AC22; /* Cor de fundo */
            color: white; /* Cor do texto */
            border: none; /* Remove a borda */
            border-radius: 10px; /* Borda arredondada */
            cursor: pointer; /* Cursor ao passar por cima */
            transition: background-color 0.3s; /* Transição suave */
            margin-bottom: 20px;
        }

        .button-container input[type="submit"]:hover,
        .button-container input[name="voltar"]:hover {
            background-color: #368c1c; /* Cor de fundo ao passar o mouse */
        }

        .title {
            text-align: center; /* Centraliza o texto */
            font-weight: bold;
            font-size: 25px;
            margin-top: 20px; /* Espaço acima do título */
            color: #333; /* Cor do texto (opcional) */
            font-family: 'Roboto', sans-serif;
        }



        /* Estilo para a mensagem de aviso */
        .warning-message {
            background-color: #f2dede; /* Cor de fundo vermelha */
            color: #a94442; /* Cor do texto vermelho */
            border: 1px solid #ebccd1; /* Borda vermelha */
            padding: 15px; /* Espaçamento interno */
            margin-top: 20px; /* Espaço acima da mensagem */
            text-align: center; /* Centraliza o texto */
            display: none; /* Inicialmente oculta */
        }

#cadastrar{
    background-color: lightgray;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

#foto_cad{
    width: 13%;
height: 30%;
top: 28%;
left: 14%;
background-color: white;
position: absolute;
}



#test{
    width: 100px;
    height: 20px;
    background-color: white;
    z-index: 20;
    border: black 1px solid;
    margin-left: 50px;
}

#login-box{
    width: 20%;
    height: 40%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginInput{
    width: 70%;
    margin-bottom: 20px;
}

.loginLabel{
    margin-left: 0;
    margin-bottom: 10px;
    align-self: start;
    margin-left: 5px;
}

#loginTitle{
    margin-top: 0;
}

#loginSubmit{
    width: 200px;
    height: 50px;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    margin: 0 10px; /* Espaçamento entre os botões */
    background-color: #46AC22; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s; /* Transição suave */
    margin-top: 20px;

    &:hover{
    background-color: #368c1c;
    }
}

#close{

  width: 32px;
  height: 32px;
  opacity: 1;
}


#close:before, #close:after {

  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}



