<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="{{ url_for('static',filename='projeto_SouSeleto.png') }}">
</head>
<body>
    <header id="navbar">
        <img id="logo" src="{{ url_for('static',filename='projeto_SouSeleto.png') }}">
        <a href = "{{ url_for('main_page') }}" id="headerButton">CADASTROS</a>
        {% if session.func %}
        <a href = "{{ url_for('list_users') }}" id="headerButton" onclick="showUsers()">USUARIOS</a>
        {% endif %}
        
       <div id="user">
        <p id="nameUser">{{user}}</p>
        <a id="loginUser" href ="{{url_for('login_user')}}"><i class="fa fa-user" style="font-size: 36px;"></i></a></div>
        </header>

    <div id="overlay2" class="overlay_container">
    <div id="usuario_popup">
    </div>
        </div>

    <div id="overlay" class="overlay_container" value={{popup}}>
        <div class="cadastro_popup">
            <header id="cadastro_header">
                <button id="first" onclick="hideDocs()">DADOS</button>
                <button onclick="showDocs()">DOCUMENTOS</button>
            </header>


            <form id="cadastro" action="{{ url_for('update_cad', cad=infos[11]) }}" method="POST">
                <fieldset id="fieldset" style="border: none;">
                <div id="info">
                    <div id="img_aluno2" onmouseover="visible('img_aluno', 'preview')" onmouseout="invisible('img_aluno', 'preview')">
                        <label for="foto_cad" class="custom-file-upload" id="back">
                            <i class="fa fa-upload" id="upload"></i>
                        </label>
                        <input type="file" id="foto_cad" onchange="getImgData('foto_cad', 'preview', 'img_aluno')"/>
                    </div>
                        <div id="img_aluno">
                        <img id="preview" onmouseover="visible('img_aluno', 'preview')" onmouseout="invisible('img_aluno', 'preview')">
                        <h2 id="entrada">Data de entrada <br> {{ infos[8] }}</h2>
                    </div>
                    
                <label for="nome">NOME
                <input type="text" class="cadInput" name="nome" id="nome" value="{{infos[0]}}">
                    </label>
                 <label for="nasc">DATA DE NASCIMENTO
                <input type="text" class="cadInput" name="nasc" id="nasc" value="{{infos[2]}}">
                     </label>
                 <label for="cpf">CPF
                <input type="text" class="cadInput" class="cadInput" name="cpf" id="cpf" value="{{infos[1]}}">
                     </label>
                 <label for="mae">MÃE
                <input type="text" class="cadInput" name="mae" id="mae" value="{{infos[3]}}">
                     </label>
                 <label for="pai">PAI
                <input type="text" class="cadInput" name="pai" id="pai" value="{{infos[7]}}">
                     </label>
                <label for="resp">RESPONSÁVEL LEGAL
                <input type="text" class="cadInput" name="resp" id="resp" value="{{infos[6]}}">
                     </label>
                 <label for="cpf2">CPF RESPONSÁVEL
                <input type="text" class="cadInput" name="cpf2" id="cpf2" value="{{infos[4]}}">
                     </label>
                 <label for="rg">RG RESPONSÁVEL
                <input type="text" class="cadInput" name="rg" id="rg" value="{{infos[5]}}">
                     </label>
                 <label for="telefone">TELEFONE
                <input type="text" class="cadInput" name="telefone" id="telefone" value="{{infos[10]}}">
                     </label>
                 <label for="celular">CELULAR
                <input type="text" class="cadInput" name="celular" id="celular" value="{{infos[10]}}">
                     </label>
                 <label for="tiposangue">TIPO SANGUÍNEO
                <input type="text" class="cadInput" name="tiposangue" id="tiposangue" value="{{infos[9]}}">
                     </label>
                     <input type="text" class="cadInput" name="tiposangue" id="tiposangue" value="{{infos[11]}}" style="display: none;">
            </div>
        </fieldset>
                <div class="button-container">
            <input type="submit" class="back" value="Salvar" onclick="closePopup()" >
            <a class="back" id="voltar" onclick="closePopup()" href ="{{url_for('main_page')}}">Voltar</a>
        </div>
                </form>
            <div id="documents">
                <div id="img_identidade" class="img_docs" onmouseover="visible('img_doc', 'preview2')" onmouseout="invisible('img_doc', 'preview2')" name="identidade">
                    <label for="foto_doc" class="custom-file-upload" id="back">
                        <i class="fa fa-upload" id="upload"></i>
                    </label>
                    <input type="file" class="foto_docs" id="foto_doc" onchange="getImgData('foto_doc', 'preview2', 'img_doc')"/>
                </div>
                    <div id="img_doc" class="img_docs2">
                    <img id="preview2" class="preview_docs" onmouseover="visible('img_doc', 'preview2')" onmouseout="invisible('img_doc', 'preview2')">
                </div>
                <label id="idLabel" for="identidade">IDENTIDADE</label>
                
                <div id="img_termo" class="img_docs" onmouseover="visible('img_doc2', 'preview3')" onmouseout="invisible('img_doc2', 'preview3')" name="contrato">
                    <label for="foto_doc3" class="custom-file-upload" id="back">
                        <i class="fa fa-upload" id="upload"></i>
                    </label>
                    <input class="foto_docs" type="file" id="foto_doc3" onchange="getImgData('foto_doc3', 'preview3', 'img_doc2')"/>
                </div>
                    <div class="img_docs2" id="img_doc2">
                    <img class="preview_docs" id="preview3" onmouseover="visible('img_doc2', 'preview3')" onmouseout="invisible('img_doc2', 'preview3')">
                </div>
                <label id="termoLabel" for="contrato">CONTRATO</label>
            
                <div class="button-container">
                    <input type="submit" class="back" value="Salvar" onclick="closePopup()" >
                    <a class="back" id="voltar" onclick="closePopup()" href ="{{url_for('main_page')}}">Voltar</a>
                </div>
            </div>
            
        </div>

        </div>
        </div>
    </div><div id="main">
        <div id="tableTop">
            <div id="leftTableTop">
                {% if session.func %}
        <a id="addButton" href ={{url_for('new_cad')}}>+</a></h3>
        {% endif %}
            <div class="dropdown">
                <button class="dropbtn">{{ mode }}</button>
                    <div class="dropdown-content">
                        <a href="{{url_for('main_page')}}">Cadastros ativos</a>
                        <a href="{{url_for('cadastros_inativos')}}">Cadastros inativos</a>
                    </div>
            </div>
                </div>
            <form id="searchbar" action="{{ url_for('main_page') }}" method="POST">
        <input type="text" id="search" name="searchbar" value={{default}}>
            </form>
        </div>
            <div id="legenda">
                <ul id="list" style="list-style-type:none;">
                    <li>ID</li>
                    <li id="nome_leg">NOME</li>
                    <li>NASCIMENTO</li>
                </ul>
            </div>
                <table>

                <tbody>
                
               {% for aluno in range((alunos | lenght)//4) %}
               <tr>
                   <td name="td1" id="td1" value={{alunos}}>{{ alunos[3+loop.index0 * 4] }}</td>
                  <td id="td2">{{ alunos[loop.index0 * 4] }}</td>
                  <td id="td3">{{ alunos[1+loop.index0 * 4] }}</td>
                  
                   <td id="td4" onclick="togglePopup()">
                       <a id="edit" onclick="" href="{{url_for('get_cad', cadastro=alunos[2+loop.index0 * 4])}}">EDITAR</a>
                   </td>
                   {% if session.func %}
                        <td id="td5">
                            <a id="edit" href="{{url_for('delete_cad', id=alunos[2+loop.index0 * 4], type=mode)}}">{{ aux }}</a>
                        </td>
                    {% endif %}
               </tr>


                {% endfor %}
                    <P id="userRole" style="display: none;">{{session.func}}</P>

                </tbody>

                    </table>


    <script src="{{ url_for('static',filename='index.js') }}"></script>


        </div>
<footer>
    <div id="grupo">
    <p>Bruno Miranda Tessilla</p>
    <p>Paulo Henrique Vidal Assis de Paula</p>
    <p>Nicolas Stringari</p>
        </div>
</footer>
</body>

</html>