<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="navbar">
        <img id="logo" src="{{ url_for('static',filename='projeto_SouSeleto.png') }}">
        <a href = "{{ url_for('main_page') }}" id="headerButton">CADASTROS</a>
        <a href = "{{ url_for('list_users') }}" id="headerButton" onclick="showUsers()">USUARIOS</a>
        <button id="user"><i class="fa fa-user" style="font-size: 36px;"></i></button>
        </header>
    <form id="cadastrar" action="{{ request.path }}" method="POST">
    <div id="login" class="overlay_container">
        <div id="login-box">
            <h1 id="loginTitle">Entrar</h1>
            <label for="cpfUser" class="loginLabel">CPF</label>
            <input type="text" name="cpf_User" class="loginInput">
            <label for="passwordUser" class="loginLabel">SENHA</label>
            <input type="password" name="password_User" class="loginInput">
            <a href ="{{url_for('login_user')}}" id="loginSubmit"/>Entrar</a>
        </div>
    </div>
    </form>

    <div id="overlay2" class="overlay_container">
    <div id="usuario_popup">
    </div>
        </div>

    <div id="overlay" class="overlay_container" value={{popup}}>
        <div class="cadastro_popup">
            <header id="cadastro_header">
                <button>DADOS</button>
                <button>DOCUMENTOS</button>
            </header>

                {% for row in cad %}
            <form id="cadastro" action="{{ url_for('update_cad', cad=row[0]) }}" method="POST">
            <div id="info">
                    <div id="foto"></div>
                <h2 id="entrada">Data de entrada <br> {{ row[9] }}</h2>
                <label for="nome">NOME
                <input type="text" name="nome" id="nome" value="{{row[1]}}">
                    </label>
                 <label for="nasc">DATA DE NASCIMENTO
                <input type="text" name="nasc" id="nasc" value="{{row[3]}}">
                     </label>
                 <label for="cpf">CPF
                <input type="text" name="cpf" id="cpf" value="{{row[2]}}">
                     </label>
                 <label for="mae">MÃE
                <input type="text" name="mae" id="mae" value="{{row[4]}}">
                     </label>
                 <label for="pai">PAI
                <input type="text" name="pai" id="pai" value="{{row[5]}}">
                     </label>
                <label for="resp">RESPONSÁVEL LEGAL
                <input type="text" name="resp" id="resp" value="{{row[4]}}">
                     </label>
                 <label for="cpf2">CPF RESPONSÁVEL
                <input type="text" name="cpf2" id="cpf2" value="{{row[7]}}">
                     </label>
                 <label for="rg">RG RESPONSÁVEL
                <input type="text" name="rg" id="rg" value="{{row[8]}}">
                     </label>
                 <label for="telefone">TELEFONE
                <input type="text" name="telefone" id="telefone" value="{{row[12]}}">
                     </label>
                 <label for="celular">CELULAR
                <input type="text" name="celular" id="celular" value="{{row[11]}}">
                     </label>
                 <label for="tiposangue">TIPO SANGUÍNEO
                <input type="text" name="tiposangue" id="tiposangue" value="{{row[10]}}">
                     </label>
            </div>
                <div class="button-container">
            <input type="submit" class="back" value="Salvar" onclick="closePopup()" >
                </form>
                <a class="back" id="voltar" onclick="closePopup()" href ="{{url_for('main_page')}}">Voltar</a>
        </div>
            {% endfor %}
        </div>
        </div>
    </div><div id="main">
        <div id="tableTop">
            <div id="leftTableTop">
        <a id="addButton" href ={{url_for('new_cad')}}>+</a></h3>
            <div class="dropdown">
                <button class="dropbtn">{{ mode }}</button>
                    <div class="dropdown-content">
                        <a href="{{url_for('main_page')}}">Cadastros ativos</a>
                        <a href="{{url_for('cadastros_inativos')}}">Cadastros inativos</a>
                    </div>
            </div>
                </div>
            <form id="searchbar" action="{{ url_for('main_page') }}" method="POST">
        <input type="text" id="search" name="searchbar">
            </form>
        </div>
                <table>

                <tbody>
                {% for row in cad %}
               <tr>
                   <td name="td1" id="td1" value={{row[0]}}>{{ row[0] }}</td>
                  <td id="td2">{{ row[1] }}</td>
                  <td id="td3">{{ row[2] }}</td>
                   <td id="td4" onclick="togglePopup()">
                       <a id="edit" onclick="" href="{{url_for('get_cad', cadastro=row[0])}}">EDITAR</a>
                   </td>
                        <td id="td5">
                            <a id="edit" href="{{url_for('delete_cad', id=row[0], type=mode)}}">REMOVER</a>
                        </td>
               </tr>
                {% endfor %}

                </tbody>

                    </table>


    <script src="{{ url_for('static',filename='index.js') }}"></script>


        </div>
<footer>
    <div id="grupo">
    <p>Bruno Miranda Tessilla</p>
    <p>Paulo Henrique Vidal Assis de Paula</p>
    <p>Nicolas Stringari</p>
        </div>
</footer>
</body>

</html>